[Desktop Entry]
Version=1.0
Type=Application
Name=Android Studio
Icon=${SNAP}/android-studio/bin/studio.png
Exec=android-studio %f
Comment=Android Studio
Categories=Development;IDE;
Terminal=false
StartupWMClass=jetbrains-studio
